* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.phone-body {
    position: relative;
    background-image: url('/images/nokia.png');
    background-size: cover;
    background-repeat: no-repeat;

    width: 400px;
    height: 100%;
}

.phone-screen {
    background: #5da142b6;
    width: 270px;
    height: 200px;
    margin: 240px 0 170px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: -10;
}

.phone-screen > div{
  width: 300px;
  max-width: 280px;
  height: 100px;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.phone-screen > :nth-child(1) {
  border-bottom: 1px solid black;
}

.phone-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 40px;
}

.phone-numbers > .row-1, .row-3 {
  margin-top: -10px;
}

.phone-numbers > .row-1 {
  margin-left: 10px;
}

button{
    width: 80px;
    height: 40px;

    cursor: pointer;

    margin-bottom: 20px;
    outline: none;
    background-color: transparent;
    border: none;

    color: transparent;
}
